@import 'styles/_vars.scss';

.treemap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.treemapChart {
  display: flex;
  margin-right: 30px;
}

.widgetWidth {
  height: 990px;
  position: relative;
}

.subtitle {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.lineChartIcon {
  transform: rotate(90deg);
  position: absolute;
  top: -12px;
}

.breakLine {
  position: absolute;
  border: 1px solid rgba($primary, 0.35);
  left: -35px;
  right: -35px;
  bottom: 0;
  margin: 0;
}

.content {
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: calc(50% - 3px);
    width: 0;
    height: 0;
    margin: -3px 0 0;
    border-style: solid;
    border-width: 6px 6px 0px 6px;
    border-color: $primary transparent transparent transparent;
  }
}

.breakLineDashed {
  border: 1px dashed rgba($primary, 0.35);
  position: absolute;
  left: -35px;
  right: -35px;
  bottom: -10px;
}

.lineChartWidget {
  position: relative;
  display: flex;
  height: 26px;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    #f9ddda 20%,
    #ffadad 40%,
    #ce78b3 60%,
    #8478ce 80%,
    #224294 100%
  );
}

.restorationChartWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0 30px 0;
}

.restorationLegend {
  padding-top: 20px;
}
