@import 'styles/vars';

$space-around-map: 30px;
$space-top-map-mobile: 5px;
$space-left-map-mobile: 20px;

.map {
  width: 100%;
  height: 100%;
  position: relative;

  @media print {
    position: relative;
    margin: 10px 30px;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.navigation {
  position: absolute;
  right: $space-around-map;
  top: $space-around-map;
}

.legend {
  position: absolute;
  right: $space-around-map;
  bottom: $space-around-map;
  z-index: 1;

  @media screen and (max-width: map-get($breakpoints, lg)) {
    top: $space-top-map-mobile;
    left: $space-left-map-mobile;
    bottom: auto;

    &.expanded {
      display: flex;
      flex-direction: row-reverse;
      bottom: inherit;
      right: 25px;
    }
  }

  .tooltip {
    display: flex;
    flex-direction: column;
  }

  @media print {
    display: none;
  }
}

// Mapbox override
:global(.mapboxgl-ctrl-group:not(:empty)) {
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin-bottom: 5px;
}

:global(.mapboxgl-ctrl-group > button) {
  background: white;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin: 10px;
}


:global(.mapboxgl-ctrl-compass) {
  display: none;
}


.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  right: 75px;
}

.zoomControls {

  > button[title='Zoom In'] {
    background-image: url('./icons/zoomin.svg') !important;
    pointer-events: auto;
  }

  > button[title='Zoom Out'] {
    border: none;
    background-image: url('./icons/zoomout.svg') !important;
  }

  > button[title='Reset North'] {
    display: none;
  }

  @media print {
    display: none;
  }
}

.fullscreen {
  > button[title='Toggle fullscreen'] {
    background-image: url('./icons/fullscreen.svg') !important;
  }

  @media print {
    display: none;
  }
}

// Map pop up

:global(.mapboxgl-popup-content) {
  border-radius: 12px;
  padding: 5px;
  max-width: 300px;

  > button {
    padding: 10px;
  }
}

