@import 'styles/vars';

.dashboards {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 700px;
}

.vis {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  @media print {
    position: relative;
    margin: 200px 0;
    padding: 30px;
    height: calc(100vh - 500px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.printOnly {
  font-size: 19px;
  line-height: 29px;
  display: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 60px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

@media print {
  .printOnly {
    display: block;
  }

  .printOnly_wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
}
