
.widget_legend {

}

.widget_legend_group {
  margin: 10 0 0;
}

.widget_legend_group:first-child { margin: 0; }

.widget_legend-list_horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.widget_legend-list_horizontal .widget_legend_list_item  {
  margin: 0 10px 0 0;
}

.widget_legend_list_item {
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0;
}

.widget_legend_list-item._flex-column {
  flex-direction: column;
  align-items: start;
}

.widget_legend_list_item._flex-column > * {
  margin: 0;
}

.widget_legend_list_item svg {
  margin-right: 10px;
}

.widget_legend-number {
  font-size: 29px;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.widget_legend_number .unit {
  font-size: 12px;
}

.widget_legend_number .unit sup {
  font-size: 8px;
  vertical-align: super;
}
