
.widget_legend {
  display: block;

  &.vertical {
    .widget_legend_list {
      display: flex;
      margin: 0;
      padding: 0;
    }
    .widget_legend_list_item {
      margin: 0 10px 0 0;
    }
  }

  .widget_legend_group {
    margin: 10 0 0;
  }

  .widget_legend_group:first-child { margin: 0; }

  .widget_legend_list {
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    &._height {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: -30px;
    }
  }

  .widget_legend_list_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }

  .widget_legend_list-item._flex-column {
    flex-direction: column;
    align-items: start;
  }

  .widget_legend_list_item._flex-column > * {
    margin: 0;
  }

  .widget_legend_list_item {
    svg {
      margin-right: 10px;
      border-radius: 10px;
    }

    &._rect svg {
      height: 12px;
      width: 6px;
    }

    &._circle svg {
      height: 12px;
      width: 12px;
    }
  }

  .widget_legend_list_item {
    &.net svg{
      border-radius: 4px;
    }
    &._height {

      font-size: 14px;
      svg {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }

  .widget_legend-number {
    // font-size: 29px;
    font-weight: 600;
    padding: 0 0 10px 0;
  }

  .widget_legend_number .unit {
    // font-size: 12px;
  }

  .widget_legend_number .unit sup {
    // font-size: 8px;
    vertical-align: super;
  }

  svg {
    .item {
      width: 13px;
      height: 13px;
      border-radius: 10px;
    }
    .net {
      width: 3px;
      height: 13px;
      border-radius: 0;
    }

  }
}
