@import 'styles/_vars.scss';

.navMenu {
  @include menu-items;

  .menuItemTitle {
    @include menu-item-title;
  }

  svg {
    width: 60px;
    height: 60px;
    fill: $primary;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 1px rgba(#000, 0.1), 0px 4px 12px rgba(#000, 0.08);
  }

  &.mobile {
    @include menu-items-mobile;
  }

  @media print {
    display: none;
  }
}

.introModalContent {
  .logo {
    width: 230px;
  }
}

.modalContent {
  @include medium-text;
  height: 100%;
  position: relative;

  > h3 {
    @include medium-text;
    font-size: 30px;
    margin: 10px 0;
  }

  section {
    margin-top: 20px;

    .menuItem {
      padding: 0;
      color: $body-color;
      text-decoration: none;
      @include medium-text;
      line-height: 40px;
    }

    ul {
      list-style: none;
    }

    button {
      display: inline-block;
      z-index: 300;
      pointer-events: all;
    }

    p {

      span {
        font-weight: 500;
        cursor: pointer;
      }
    }

    a {
      padding: 10px 0;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 40px;

    > a {
      margin-left: 30px;
      color: $body-color;
      text-decoration: none;
      @include medium-text;
      line-height: 40px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 45px;
      bottom: 0;
      width: 1px;
      background-color: rgba($blackOpacity, 0.08);
    }
  }

  .welcomeLink {
    color: $primary;
    display: block;
    @include medium-text;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;

    .logo {
      width: 130px;
      padding-right: 20px;
    }
  }
}

