@import 'styles/_vars.scss';

.checkbox {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgba($primary, 0.2);
  outline: none;
  transition: 0.3s;

  &:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    top: 3px;
    left: 4px;
    transition: 0.3s ease-in-out;
  }

  &:checked {
    background: $primary;
    border: 2px solid $primary;

    &:before {
      transform: translateX(19px);
      background: $white;
    }
  }
}
