# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# ipython
.ipynb_checkpoints

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/launch.json
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/node_modules/**
**/credentials.json
**credentials.json
/build/**
credentials.json
