
.widget_legend {
  display: block;
  justify-content: flex-start;
  height: 80;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;

  &.vertical {
    max-width: 170px;

    .widget_legend_list {
      display: flex;
      margin: 0;
      padding: 0;
    }
    .widget_legend_list_item {
      margin: 0 10px 10px 0;

      .itemWrapper {

        > span {
          padding-bottom: 5px;
        }
      }
    }
  }

  .widget_legend_group {
    margin: 10 0 0;
  }

  .widget_legend_title {
    font-size: 14px;
    font-weight: bold;
    max-width: 150px;
    align-content: center;
    justify-content: center;
    width: 100%;
  }

  .widget_legend_group:first-child { margin: 0; }

  .widget_legend_list {
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;

    &._height {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &._left {
      justify-content: flex-end;

      > li {
        padding-left: 20px;
      }
    }
  }

  .widget_legend_list_item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style: disc;
    position: relative;
  }

  .widget_legend_list-item._flex-column {
    flex-direction: column;
    align-items: start;
  }

  .widget_legend_list_item._flex-column > * {
    margin: 0;
  }

  .widget_legend_list_item {
    svg {
      margin-right: 10px;
      border-radius: 10px;
      width: 550px;
    }

    &._rect svg {
      height: 12px;
      width: 6px;
    }

    &._circle svg {
      height: 12px;
      width: 12px;
    }

    &._bar svg {
      border-radius: 0;
      height: 12px;
      width: 3px;
    }
  }

  .widget_legend_list_item {

    &._activity {
      display: flex;
      align-items: center;

      ._Gain {
        position: relative;
        width: 2px;
        height: 10px;
        margin-left: 15px;
        margin-right: 5px;

        &:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 2px;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          background-color: inherit;
        }
      }

      ._Loss {
        position: relative;
        width: 2px;
        height: 10px;
        margin-left: 5px;
        margin-right: 10px;

        &:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 2px;
          top: 50%;
          transform: translateY(-50%);
          right: -5px;
          background-color: inherit;
        }
      }

      ._Net {
        width: 15px;
        height: 8px;
        position: relative;
        border-radius: 0 10px 10px 0;
        margin-left: 5px;
        margin-right: 10px;
      }

      @media print {
        display: none;
      }
    }

    &._net svg{
      border-radius: 4px;
    }

    &._height {

      font-size: 14px;
      svg {
        margin-right: 5px;
        margin-left: 5px;
      }
    }

  }

  .widget_legend-number {
    font-weight: 600;
    padding: 0 0 10px 0;
  }


  .widget_legend_number .unit sup {
    vertical-align: super;
  }

  svg {
    .item {
      width: 13px;
      height: 13px;
      border-radius: 10px;
    }
    .net {
      width: 3px;
      height: 13px;
      border-radius: 0;
    }
  }

  .itemWrapper {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    &._height {
      display: contents;
    }

    .item {
      font-weight: normal;
      font-size: 14px;
    }
  }
}
