@import 'styles/_vars.scss';

.basemap {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(168,168,168,0.25);
  @media (max-width: map-get($breakpoints, lg)) {
    width: 296px;
  }

  &.collapse {
    display: none;
    @media (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, lg)) {
      display: flex;
      max-width: 270px;
    }
  }

  &.mobileView {
    position: absolute;
    top: 100px;
  }

  .current {
    margin-right: 30px;

    h3 {
      margin: 0;

      @include upper-text;
    }

    > div {
      margin: 5px 0 0 0;
    }
  }

  .options {
    display: flex;
    align-items: center;
  }

  .basemapThumb {
    margin: 0 0 0 10px;
    padding: 0;
    width: 35px;
    height: 45px;

    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: 0;
    border-radius: 28px;

    overflow: hidden;

    transition: all 0.5 ease;

    &:hover {
      box-shadow: 0 2px 5px 0 rgba(7, 127, 172, 0.43);
    }

    &.selected {
      border: 2px solid $primary;
      box-shadow: 0 2px 5px 0 rgba(7, 127, 172, 0.43);
    }
  }
}
