@value vars: "../../styles/vars.css";
@value primary from vars;

.button {
  padding: 0 5px;
  min-width: 116px;
  height: 30px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid primary;

  color: primary;
  font-size: 14px;
  font-weight: 600;

  opacity: 0.2;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}

.button_is_enabled {
  composes: button;

  background-color: primary;
  color: white;
  opacity: 1;
}
