@import '../../styles/vars';

.button {
  padding: 0 20px;
  min-width: 116px;
  height: 30px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid rgba($primary, 0.2);

  color: primary;
  font-size: $body-font-size;
  font-weight: 600;

  transition: all 0.25s ease;

  &:hover {
    border-color: rgba($primary, 0.4);
    cursor: pointer;
  }

  &:focus {
    border-color: $primary;
  }

  &.active {
    border-color: $primary;
    background-color: $primary;
    color: white;
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
}
