.widget_legend {
  // max-height: 220px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 200px;
  line-height: 1;
  font-size: 14px;
  flex-shrink: 0;

  .widget_legend_list {
    margin: 10px;
    padding: 0;
    list-style: none;
    pointer-events: all;
  }

  .item_color {
    width: 5px;
    height: 10px;
    margin-right: 5px;
    border-radius: 10px;
    flex-shrink: 0;
  }

  .widget_legend_list_item {
    display: flex;
    padding: 5px 0;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
    position: relative;
    cursor: pointer;

    &._disabled {
      opacity: 0.5;
    }
  }
}