@import 'styles/vars';

.container {
  position: fixed;
  left: 5%;
  width: 90%;
  z-index: 301;
  bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  min-height: 50px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;

  .btnTitle {
    color: $black;

    &.activeLayers {
      color: $white;
    }
  }

  .btnInfo {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 200;
    color: #00857F;
    padding: 9px;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(0, 133, 127, 0.2);
    border-radius: 50%;
    &.activeLayers {
      color: $white;
      font-weight: 600;
      border: 2px solid rgba(255, 255, 255, 0.2);
    }
  }
}

@media print {
  .container {
    display: none;
  }
}
