.wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  .label {
    white-space: nowrap;
    width: 165px;
    text-align: right;
  }

  .lineChartWidget {
    width: 126px;
    background-color: #FFF;
    height: 12px;
    margin: 0 16px;
    display: flex;

    .lineChartFill {
      background-color: #B2CBF9;
      height: 100%;
    }

    .lineChartBackground {
      background-color: #ECECEF;
      flex-grow: 1;
      height: 100%;
    }
  }

  .value {
    font-weight: bold;
    white-space: nowrap;
  }
}