@import 'styles/_vars.scss';

.sentence {
  @include medium-text;
  margin: 1rem 0;
  position: relative;

  @media print {
    font-size: 14px;
    line-height: 19px;
  }
}

.customAxis {
  display: flex;
  justify-content: center;
  font-size: 14px;
  max-width: min-content;
  text-align: center;
}