@import 'styles/vars';


.modalWrapper {
  $padding: 30px;
  $border-radius: 20px;

  position: absolute;
  max-width: 540px;
  width: 100%;
  top: 50px;
  left: 50px;
  bottom: 50px;

  z-index: 100;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: map-get($breakpoints, lg)) {
    top: 10px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    width: inherit;
  }

  .content {
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: $padding;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: $border-radius;
    background: white;

    box-shadow: $box-shadow;
    box-sizing: border-box;

    overflow: auto;
    z-index: 1;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: map-get($breakpoints, lg)) {
      position: absolute;
      left: 0;
      right: -10px;
    }
  }
}

.closeButton {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 30px;
  left: 100%;
  border: 0;
  border-radius: 0 10px 10px 0;
  background: white;

  cursor: pointer;

  @media screen and (max-width: map-get($breakpoints, lg)) {
    top: 20px;
    right: 20px;
    z-index: 2;
    left: initial;
  }
}
