@import 'styles/vars';


.info {
  margin-top: 20px;
  border-top: 2px solid rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-around;
  > * {
    padding: 15px;
    width: 50%;
    text-align: center;
    border-right: 2px solid rgba(0,0,0,0.08);
  }
  .button {
    border: none;
    line-height: 20px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      border: none;
    }
    .icon {
      padding-right: 10px;
    }
  }
}
