@import 'styles/_vars.scss';

.info {
  margin-top: 20px;
  border-top: 2px solid rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-around;
  background: $white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, rgba(0, 250, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-color: $white;
  background-repeat: no-repeat;
  background-position: 0 700px;

  transition: all .5s ease;
  will-change: margin-bottom;
  overflow: hidden;

  > * {
    padding: 15px;
    width: 50%;
    text-align: center;
    border-right: 2px solid rgba(0,0,0,0.08);
  }

  .button {
    border: none;
    line-height: 20px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      border: none;
    }
    .icon {
      padding-right: 10px;
    }
  }

  &.collapsed {
    background-position: 0;
  }
}

@media print {
  .info {
    display: none;
  }
}
