@import '../../styles/vars';

.toggle {
  display: flex;
  height: 30px;
  border-radius: 15px;
  color: $body-color;



  * {
    border-color: $primary;
    padding: 0 20px;
    //background-color: $primary;

    &:focus {
      border: 1px solid $white;
      border-radius: 15px;
      background-color: $white;
      color: $primary;
    }

    &:first-of-type {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-of-type {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

  }
}
