.chart_tooltip {
  display: flex;
  justify-content: 'space-around';
  color: rgba(0,0,0,0.85);
  line-height: 19px;
  padding: 10px 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFF;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  z-index: 10000;
  font-weight: bold;
}

.data_title {
  display: block;
}

.data_line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  font-size: bold;

  &._column {
    flex-direction: row;
    padding: 5px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.data_line {
  &._stacked {
    margin-right: 0;
  }
}

.data_line.right {
  justify-content: flex-end;
  text-align: right;
}

.data_label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  font-weight: bold;

  &._column {
    margin-right: 0;
  }
}

.break_label {
  font-style: italic;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.data_color {
  width: 9px;
  height: 18px;
  border-radius: 22px;
  margin-right: 10px;

  &.bar {
    border-radius: 0;
    width: 4px;
  }
}

.data_value {
  margin-left: 19px; //data_color width + data_color margin
  font-weight: normal;
}

.data_value_species {
  font-size: 16px;
  font-weight: 800;
}

.description_label {
  color: black;
  font-size: 12px;
  // font-style: italic;
  font-weight: 400;
  max-width: fit-content;
}