$body-color: rgba(0,0,0,0.85);
$body-font-size: 14px;
$body-line-height: 1.4;

/* Widgets */

$widgetWidth: 540px;

/* Theme */
$primary: #00857F;
$background-mobile: #00C5BD;
$black: #000000;
$white: #FFFFFF;


/* Fonts */
$font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$font-family2: 'Lato';

$font-size-small: 12px;
$font-size-medium: 19px;

@mixin medium-text {
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 30px;
}

@mixin upper-text {
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
}

@mixin menu-items {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

@mixin menu-item-title {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: $font-family;
  color: $white;
}

@mixin menu-items-mobile {
  flex-direction: column-reverse;
  justify-content: center;
  padding-bottom: 0;

  span {
    margin-top: 5px;
    margin-bottom: 0;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: $white;
    background-color: transparent;
    border-radius: 30px;
  }
}

@mixin widget-sentence {
    @include medium-text;
    margin: 1rem 0;
    position: relative;

    @media print {
      font-size: 14px;
      line-height: 19px;
    }
  }

// Breakpoints
$sm: 384px;
$md: 768px;
$lg: 940px;
$xlg: 1280px;

$screen-max-width: 1024px;
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg
);

// Mobile

$paddingMobile: 5px;

// To remove
$font-size-extra-small: 9px;
$font-size-small: 12px;
$font-size-default: 16px;
$font-size-big: 22px;
$font-size-huge: 120px;

/* Box shadow */
$box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
