$body-color: rgba(0,0,0,0.85);
$body-font-size: 14px;
$body-line-height: 1.4;

/* Theme */
$primary: #00857F;
$header: #00C5BD;
$black: #000000;
$white: #FFFFFF;


/* Fonts */
$font-size-small: 12px;
$font-size-medium: 19px;

@mixin medium-text {
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 30px;
}

@mixin upper-text {
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
}

// Breakpoints
$sm: 384px;
$md: 768px;
$lg: 992px;
$xlg: 1280px;

$screen-max-width: 1024px;
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg
);

// To remove
$font-size-extra-small: 9px;
$font-size-small: 12px;
$font-size-default: 16px;
$font-size-big: 22px;
$font-size-huge: 120px;

/* Box shadow */
$box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
