$body-color: rgba(0,0,0,0.85);

/* Theme */
$primary: #077FAC;

$font-size-extra-small: 9px;
$font-size-small: 12px;
$font-size-default: 16px;
$font-size-medium: 18px;
$font-size-big: 22px;
$font-size-huge: 120px;
