@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00C5BD;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px !important;
}


/* Track */
::-webkit-scrollbar-track {
  background: #F3F5F5;
  border-radius: 20px !important;
  width: 3px;
  padding-top: 10px !important;
  margin: 12px 0 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CDD0D0;
  border-radius: 20px !important;
}

@layer base {
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-thin::-webkit-scrollbar {
    width: 0.5rem;
  }

  .print {
    display: none
  }


}
.recharts-brush-texts {
  display: none
}

.recharts-brush-slide {
  stroke: #00857F !important;
  fill: #00857F !important;
  opacity: 1 !important;
}

.c-brush {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.c-brush .brush--svg {
  width: 100%;
  top: 0;
  left: 0;
}

.c-brush .brush--svg .handle {
  fill: #fff;
}

.c-brush .brush--svg .handle circle {
  pointer-events: none;
}

.c-restoration-popup .mapboxgl-popup-close-button {
  display: none !important;
}

.c-restoration-popup .mapboxgl-popup-tip {
  border-width: 10px !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #00857F !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #00857F !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #00857F !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #00857F !important;
}


.txlive-langselector {
  @apply !top-0 !right-28 !bottom-auto !left-auto !bg-brand-800 !rounded-b-3xl !px-5 !uppercase !font-semibold !font-sans;
}

.hidden-langselector {
  @apply !hidden;
}

.txlive-langselector-list {
  @apply !bottom-auto !left-0 !right-auto !top-0 !bg-white !rounded-b-3xl !text-brand-800 ;
}

.txlive-langselector-marker {
  @apply !absolute !right-6 !rotate-180;
}

.txlive-langselector-toggle {
  @apply !border-0 !pr-10;
}

.txlive-langselector-list > li:hover {
  @apply  !text-black/85 !bg-white;
}

@media print {
  @page {
    size: landscape;
  }

  body {
    width: 260mm; /* A4 width in millimeters */
    height: 210mm; /* A4 height in millimeters */
    margin: 0 auto;
  }
}
