@import 'styles/_vars.scss';

.widgets {
  max-width: 540px;
  margin: auto;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.spinner {
    margin-top: 100px;
  }

  .printBtn {
    margin: 30px 0;

    @media print {
      display: none;
    }
  }

  @media screen and (max-width: map-get($breakpoints, lg)) {
    margin-bottom: 100px;
  }

  @media print {
    margin-top: 500px;
    page-break-before: page;
    max-width: 100%;
    position: relative;
    display: block;
    align-items: center;
  }
}

.printOnly {
  display: none;

  @media print {
    display: flex;
    flex-direction: column;
  }
}

.widgetWrapper {
  width: 540px;
  
  @media print and (orientation: portrait){
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: $widgetWidth;
  }

  @media print  and (orientation: landscape){
    width: 100%;

    background-color: red;
    display: grid;
    grid-column: 1fr 1fr;
    grid-gap: 30px;
    width: $widgetWidth;
  }
}

// .chartWrapper {
//   display: block;
//   background-color: green;

//   @media print  and (orientation: landscape){
//   }
// }