.widgets {
  margin-bottom: 50px;
  max-width: 540px;
  z-index: 300;

  &.spinner {
    margin-top: 100px;
  }

  &.securityMargin {
    margin-top: 75px;
  }
}


@media print {
  .widgets {
    max-width: 100%;
    width: 100%;
    display: grid;
    margin-top: 200px;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 50px;
    break-after: always;
  }
}
