@import 'styles/vars';

.widget {
  $padding: 30px 40px 0 40px;
  $paddingMobile: 20px 20px 0 20px;
  $border-radius: 20px;

  position: relative;
  margin: 10px 0;
  border-radius: $border-radius;
  background: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, white, #d6d6d6);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 700px;

  transition: all .5s ease;
  will-change: margin-bottom;
  overflow: hidden;

    &._modal {
      box-shadow: none;
    }

  @media screen and (max-width: map-get($breakpoints, lg)) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &._collapsed {
    margin-bottom: -95px;
    background-position: 0;
    margin-top: -3px;

    .content {
      max-height: 0px;
      opacity: 0.0;
    }

    .widget_template {
      overflow: hidden;
      padding-top: 50px;
    }

  }

  &._collapsed:last-child {
    background-position: 0 700px;
  }

  &._layerActive::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid rgba($primary, 0.35);
    border-radius: $border-radius;

    pointer-events: none;
  }

  .wrapper {
    padding: $padding;
    @media screen and (max-width: map-get($breakpoints, sm)) {
      padding: $paddingMobile;
    }
    &._modal {
      padding: $paddingMobile;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .title {
    @include upper-text;

    flex: 1;

    position: relative;
    background: transparent;
    border: 0;
    padding: 5px 0;
    margin: 0 20px 0 0;

    text-align: left;

    cursor: pointer;

    & svg {
      margin-right: 15px;
    }
  }

  .content {
    transition: max-height .5s ease-in-out;
    will-change: max-height;
    max-height: 700px;
    overflow: visible;
  }
}

.link {
  color: $body-color;
  font-weight: bold;
  padding-bottom: 10px;
}

@media print {
  $border-radius: 20px;

  .widget {
    max-width: 600px;
    box-shadow: none;
    margin: 250px 0;
    border: 2px solid rgba($primary, 0.35);
    border-radius: $border-radius;
    break-after: always;



    &._layerActive::before {
      border: 0 solid rgba($primary, 0.35);
    }
  }

  .title svg {
    display: none;
  }

  .toogleButton {
    display: none;
  }
}
