@import 'styles/vars';

.widget {
  width: 100%;
  $padding: 0 40px;
  $paddingMobile: 20px 20px 0 20px;
  $border-radius: 20px;
  position: relative;
  margin: 10px 0;
  border-radius: $border-radius;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, white, #d6d6d6);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 700px;

  transition: all .5s ease;
  will-change: margin-bottom;
  overflow: hidden;

    &._modal {
      box-shadow: none;
    }

  @media screen and (max-width: map-get($breakpoints, lg)) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &._collapsed {
    margin-bottom: -30px;
    background-position: 0;

    &:not(:first-of-type)  {
      margin-top: -3px;
    }

    .content {
      max-height: 0px;
      opacity: 0.0;
    }

    &:last-of-type:not(:last-child) {

      background-position: 0 700px;

      .content {
        max-height: 400px;
        background-position: auto;
        opacity: 1;

        &._large {
          max-height: 700px;
        }
      }

      .title {
        & svg {
          display: none;
        }
      }
    }

    .widget_template {
      overflow: hidden;
      padding-top: 50px;
    }
  }

  &._layerActive::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid $primary;
    border-radius: $border-radius;
    pointer-events: none;
  }

  .wrapper {
    padding: $padding;
    @media screen and (max-width: map-get($breakpoints, sm)) {
      padding: $paddingMobile;
    }
    &._modal {
      padding: $paddingMobile;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .title {
    @include upper-text;

    flex: 1;

    position: relative;
    background: transparent;
    border: 0;
    padding: 25px 0;
    margin: 0 20px 0 0;

    text-align: left;

    cursor: pointer;

    & svg {
      margin-right: 15px;
    }
  }

  .content {
    transition: max-height .5s ease-in-out;
    will-change: max-height;
    max-height: 700px;
    overflow: visible;
  }
}

.link {
  color: $body-color;
  font-weight: bold;
  padding-bottom: 10px;
}

@media print {
  $border-radius: 20px;

  .widget {
    max-width: 100%;
    height: 530px;
    box-shadow: none;
    border: 2px solid rgba($primary, 0.35);
    border-radius: $border-radius;
    // break-after: always;
    $padding: 30px 20px 0 40px;

    &._layerActive::before {
      border: 0 solid rgba($primary, 0.35);
    }
  }

  &.mangrove_coverage,
  .mangrove_extent,
  .mangrove_net_change,
  .mangrove_biomass,
  .mangrove_blue_carbon {
    margin: 30px 0 0 0;
    height: 90%;
  }

  &.mangrove_coverage,
  .mangrove_extent,
  .mangrove_net_change {
    margin: 50px 0 0 0;
  }

  &.mangrove_alerts, .mangrove_activity {
    height: 520px;
  }

  .title svg {
    display: none;
  }

  .toogleButton {
    display: none;
  }
}
