@import 'styles/vars';

.widget {
  $padding: 30px;
  $paddingMobile: 20px;
  $border-radius: 20px;

  position: relative;
  margin: 10px 0;
  padding: $padding;
  border-radius: $border-radius;
  background: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, white, #d6d6d6);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 700px;

  transition: all .5s ease;
  will-change: margin-bottom;
  overflow: hidden;

  @media screen and (max-width: map-get($breakpoints, md)) {
    display: flex;
    flex-direction: column;
    padding: $paddingMobile;
    margin-bottom: 0;
  }

  &.collapsed {
    margin-bottom: -45px;
    background-position: 0;
    @media screen and (max-width: map-get($breakpoints, md)) {
      margin-bottom: -37px;
    }

    .content {
      max-height: 0px;
    }
  }

  &.collapsed:last-child {
    background-position: 0 700px;
  }

  &.layerActive::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

    border: 2px solid rgba($primary, 0.35);
    border-radius: $border-radius;

    pointer-events: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    @include upper-text;

    flex: 1;

    position: relative;
    background: transparent;
    border: 0;
    padding: 5px 0;
    margin: 0 20px 0 0;

    text-align: left;

    cursor: pointer;

    & svg {
      margin-right: 15px;
    }
  }

  .content {
    transition: max-height .5s ease-in-out;
    will-change: max-height;
    max-height: 700px;
    overflow: hidden;

    @media screen and (max-width: map-get($breakpoints, md)) {
      overflow: visible;
    }
  }
}

.widget_template {
  .sentence {
    @include medium-text;
    margin: 1rem 0;
    position: relative;
  }

  .bold {
    font-weight: bold;
  }
}

//SPECIFIC TEMPLATES
.activity_widget {
  .label {
    font-weight: bold;
    padding-bottom: 10px;
  }
}
