@value vars: "../../styles/vars.css";
@value border-radius, padding from vars;

.widget_wrapper {
  margin: 10px 0;
  padding: padding;
  border-radius: border-radius;
  background: white;
}

.widget_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget_title {
  flex: 1;

  position: relative;
  background: transparent;
  border: 0;
  padding: 5px 0 5px 30px;
  margin: 0 20px 0 0;

  font-size: 12px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.widget_title:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background: rgba(0, 0, 0, 0.1);
}

.widget_content {
  width: 100%;
  height: 100%;
}
