@import '../../styles/vars';

.widget {
  $padding: 30px;
  $border-radius: 20px;

  position: relative;
  margin: 10px 0;
  padding: $padding;
  border-radius: $border-radius;
  background: white;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    flex: 1;

    position: relative;
    background: transparent;
    border: 0;
    padding: 5px 0;
    margin: 0 20px 0 0;

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;

    cursor: pointer;

    & svg {
      margin-right: 15px;
    }
  }

  .content {
    transition: max-height .25s ease-in-out;
  }

  &.collapsed {
    margin-bottom: -45px;
    background: linear-gradient(180deg, white 0%, #d6d6d6 100%);

    .content {
      max-height: 0px;
      overflow: hidden;
    }
  }
}

.widget_template {
  .sentence {
    color: rgba(0,0,0,0.85);
    font-size: $font-size-medium;
    line-height: 30px;
    select {
      outline: none;
      border:none;
      border-bottom: 2px solid $primary;
      border-radius: 0;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
      font-weight: 600;
    }
  }
}
