@import 'styles/vars';

.modalBtn {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(#00857F, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalIcon {
    width: 20px;
    height: 20px;
    fill: $primary;
  }
}

.modalContent {

  h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    margin-top: 0;
  }

  .infoContent {

    .headings {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        margin-bottom: -15px;

        h3 {
          margin-left: 10px;
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;

          &._noicon {
            margin-left: 25px;
          }
        }

        .modalIcon {
          transform: rotate(90deg);

          &._hidden {
            display: none;
          }
        }

        &._collapsed {
          margin-bottom: 0;

          .modalIcon {
            transform: rotate(180deg);
          }
        }
      }

      a {
        font-weight: bold;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 1px;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }

    p {
      display: none;

      &._collapsed {
        display: block;
        font-weight: 300;
        font-size: 19px;
        line-height: 30px;
        margin: 0;
      }
    }
  }
}
