@import 'styles/_vars.scss';

.popupWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: $white;
  border-radius: 20px;
  max-width: 460px;
  
  .infoContent {
    display: flex;
    
    .title {
      padding-right: 10px;
    }
    .content {
      font-weight: bold;
    }
  }
}
