@import 'styles/vars';

.dashboards {
  display: flex;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.printOnly {
  font-size: 19px;
  line-height: 29px;
  display: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 60px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @media print {
    display: none;
  }
}

.vis {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &.mobileView {
    z-index: 6;
  }

  @media print {
    position: relative;
    padding: 30px;
    height: 650px;
    break-before: page;
  }
}

@media print {

  .printOnly {
    display: block;
  }

  h1 {

    &.printOnly {
      display: flex;
      width: 100%;
      margin: auto;
      line-height: 1;

      &._short {
        font-size: 60px;
      }

      &._medium {
        font-size: 45px;
      }
    }
  }

  .printOnly_wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .dashboards {
    max-width: 100%;
    padding: 30px;

    .header {
      position: absolute;
      top: 0px;
      width: 100vw;

      .actionBar {
        display: none;
      }
    }
  }

  .dashboards {
    max-width: 100%;
    padding: 30px;

    .header {
      position: absolute;
      top: 0px;
      width: 100vw;

      .actionBar {
        display: none;
      }
    }
  }
}


