
.c-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;

// MODIFIERS

// Size

  &._xsmall {
    width: 20px;
    height: 20px;
  }

  &._small {
    width: 30px;
    height: 30px;
  }

  &._medium {
    width: 40px;
    height: 40px;
  }

  &._large {
    width: 60px;
    height: 60px;
  }

  &._xlarge {
    width: 90px;
    height: 90px;
  }
}


