@import 'styles/_vars.scss';

.legendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(168,168,168,0.25);

  &.collapse {
    display: none;
  }
  > h3 {
    @include upper-text;
  }
}

.removeButton {
  display: block;
  border: 0;
  padding: 10px;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}
