@import 'styles/vars';

.sidebar_menu {
  position: fixed;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: $font-family2;
  z-index: 4;
  width: 90px;
  background-color: #00AFA7;
  color: $white;
  font-size: 10px;

  @media print {
    display: none;
  }
}


