@import '../../styles/vars';

.location {
  $padding: 30px;
  $border-radius: 20px;

  position: absolute;
  max-width: 540px;
  width: 100%;
  top: 50px;
  left: 50px;

  .title {
    flex: 1;

    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;

    color: $body-color;
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $body-color;
    }
  }

  .content {
    position: absolute;
    padding: $padding;
    border-radius: $border-radius;
    background: white;
    box-shadow: $box-shadow;
    z-index: 1;
  }

  .searchButton {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 30px;
    left: 100%;
    border: 0;
    border-radius: 0 10px 10px 0;
    background: white;

    cursor: pointer;
  }
}
