@import 'styles/vars';

.header {
  display: flex;
  margin-bottom: 50px;
  @media screen and (max-width: map-get($breakpoints, md)) {
    margin-bottom: 25px;
  }

  .bg,
  .bgFixed {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: visible;
    z-index: -9;
    &.isHidden {
      display: none;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
      width: 900px;
    }
    @media screen and (max-width: map-get($breakpoints, sm)) {
      width: 600px;
    }
  }

  .bgFixed {
    position: fixed;
    z-index: 100;
  }

  .searchBar {
    margin-top: 80px;
    z-index: 300;
    width: 100%;
    display: flex;

    &.fixed {
      position: fixed;
      top: -65px;
      max-width: 600px;
      @media screen and (max-width: map-get($breakpoints, md)) {
        top: 0;
      }
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
      margin-top: 20px;
      font-size: 35px;
    }
  }

  .titleBtn {
    border: 0;
    padding: 0;
    appearance: none;
  }

  .title {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: $body-color;
    font-size: 60px;
    font-weight: 300;
    line-height: 0.85;
    text-align: left;

    @media screen and (max-width: map-get($breakpoints, md)) {
      font-size: 35px;
    }
  }

  .searchButton {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 0;
    border-radius: 100%;
    background: white;
    text-align: center;
    cursor: pointer;
    box-shadow: $box-shadow;

    :global(.svg-inline--fa path) {
      fill: $primary;
    }
    @media screen and (max-width: map-get($breakpoints, md)) {
      padding: 6px 12px;
      height: auto;
      width: auto;
    }
    svg {
      @media screen and (max-width: map-get($breakpoints, md)) {
        height: 30px;
        width: 30px;
        vertical-align: 0;
      }
    }
  }
}

@media print {
  .header {
    img {
      display: none!important;
    }

    .searchButton {
      display: none;
    }
  }
}