@import 'styles/vars';

.footerMenu {
  position: fixed;
  bottom: 0;
  font-family: $font-family2;
  z-index: 150;
  background-color: #00AFA7;
  color: $white;
  width: 100%;

  .menu {
    display: flex;
    align-items: center;
    max-width: 340px;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
  }

  @media print {
    display: none;
  }
}
