@import 'styles/vars';

.Datepicker {
  border-bottom: 2px solid $primary;

  &._inline {
    display: inline-block;
  }

  .react-datepicker__day-name {
    font-family: $font-family;
  }
}

.DatepickerPopper {
  z-index: 10!important;
}

