@import 'styles/vars';

.location {
  $padding: 30px;
  $border-radius: 20px;

  position: absolute;
  max-width: 540px;
  width: 100%;
  top: 50px;
  left: 50px;
  bottom: 50px;

  z-index: 100;

  &.mobile {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: inherit;
  }

  .content {
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: $padding;
    width: 100%;
    height: 100%;

    border-radius: $border-radius;
    background: white;

    box-shadow: $box-shadow;
    box-sizing: border-box;

    overflow: auto;
    z-index: 1;
    &.mobile {
      position: absolute;
      right: 20px;
    }
  }

  .searchInput {
    flex: 1;

    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;

    caret-color: $primary;
    color: $body-color;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $body-color;
    }
  }

  .searchButton {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 30px;
    left: 100%;
    border: 0;
    border-radius: 0 10px 10px 0;
    background: white;

    cursor: pointer;
    &.mobile {
      top: 20px;
      right: 20px;
      z-index: 2;
      left: initial;
    }
  }

  .list {
    flex: 1;

    margin: 30px -20px 0 -20px;
    padding: 0;
    list-style: none;

    overflow: auto;
  }

  .listItem {
    a {
      display: block;
      border-radius: 10px;
      // margin: 0 -20px;
      padding: 10px 20px;

      color: $body-color;
      @include medium-text;
      text-decoration: none;

      &:hover {
        background-color: rgba(#00C5BD, .1);
      }
    }
    .items {
      display: flex;
      justify-content: space-between;
    }
    .tag {
      color: rgba(0,0,0,0.54);
      font-size: 12px;
      text-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);

  transform: scale(1);
  transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  z-index: 150;

}
