@import '../../styles/vars';

.container {
  border: 2px solid rgba(0,0,0,0.2);
  display:inline-flex;
  position: relative;
  height: 26px;
  border-radius: 15px;

  button {
    display: block;
    position: relative;
    margin: -2px;
    border: none;
    text-align: center;
    color: $body-color;
    &:focus {
      text-align: center;
      border: 2px solid white;
      margin: -2px;
      height: 30px;
      background-color: $white;
      color: $primary;
      border-bottom: 3px solid white;;

    }
  }
}
