@import 'styles/_vars.scss';

  .searchInput {
    flex: 1;
    width: 100%;
    max-height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    caret-color: $primary;
    color: $body-color;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: rgba($blackOpacity, 0.4);
    }
  }
