@import 'styles/vars';

.sidebar {
  position: relative;
  max-width: 540px;
  padding-left: 50px;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;

  @media screen and (max-width: map-get($breakpoints, lg)) {
    padding: 5px;
    margin: auto;
  }
  .header {
    @media screen and (max-width: map-get($breakpoints, lg)) {
      padding: 10px;
    }
  }
  .actionBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: map-get($breakpoints, lg)) {
      margin-bottom: 0;
    }
  }
  &.securityMargin {
    margin-bottom: 180px;
    height: initial;
  }
}

@media print {
  .sidebar {
    max-width: 100%;
    padding: 30px;

    .header {
      position: fixed;
      top: 120px;
      width: 100vw;

      .actionBar {
        display: none;
      }
    }
  }
}
