@import 'styles/vars';

.sidebar {
  position: relative;
  max-width: 540px;
  padding-left: 50px;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  @media screen and (max-width: map-get($breakpoints, md)) {
    padding: 5px;
    margin: auto;
  }
  .header {
    @media screen and (max-width: map-get($breakpoints, md)) {
      padding: 10px;
    }
  }
  .actionBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: map-get($breakpoints, md)) {
      margin-bottom: 0;
    }
  }
  &.securityMargin {
    margin-bottom: 150px;
    height: initial;
  }
}
