@import 'styles/vars';

.hotspotsList {
  display: flex;
  align-items: stretch;
  margin-top: 30px;
  justify-content: space-between;

  div:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
    min-height: 200px;
    padding: 20px 30px;
    border-radius: 20px;
    width: auto;
    color: $white;
    text-align: center;
    line-height: 20px;

    @media screen and (max-width: map-get($breakpoints, sm)) {
      padding: 20px 15px;
      min-height: 150px;
    }

    .cardInfo {
      display: inline;
      min-width: 120px;
      @media screen and (max-width: map-get($breakpoints, sm)) {
        min-width: 100px;
      }

      h3 {
        margin: 0;
        font-weight: bold;

        &.title {
          margin-bottom: 30px;
        }
      }

      p {
        font-weight: normal;
        margin: 5px;
      }
    }

    &:first-child {
      margin-right: 10px;
    }

    &.active {
      border-color: $primary;
    }
  }
  .hidden {
    display: none;
  }
}
