@import 'styles/vars';

.hotspotsList {
  display: flex;
  align-items: stretch;
  margin-top: 30px;
  justify-content: space-between;

  div:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
    min-height: 200px;
    padding: 20px 30px;
    border-radius: 20px;
    width: auto;
    color: $white;
    text-align: center;
    line-height: 20px;

    .cardInfo {
      display: inline;
    }

    h3 {
      margin-top: 0;
      font-weight: bold;
      line-height: 19px;
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }

    &.active {
      border-color: $primary;
    }
  }
}
