@import "styles/_vars.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;

  &._collapsed {
    max-height: 72px;
    overflow: hidden;
    width: 100%;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 24px;

    .title {
      font-size: 12px;

      * {
        margin: 0;
      }
    }

    .icon {
      color: $primary;
      font-size: 32px;
      line-height: 0;
    }
  }

  .section {
    width: 100%;

    .group {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;

      .lineChartWidget {
        width: 100%;
        height: 24px;
        background-color: #ececef;
        margin-right: 16px;

        .lineChartFill {
          height: 100%;
          position: relative;
          background: linear-gradient(
            90deg,
            #f9ddda 0%,
            #ffadad 28.65%,
            #ce78b3 50.52%,
            #8478ce 74.48%,
            #224294 100%
          );

          .lineChartFillLeft {
            position: absolute;
            right: 0;
            height: 100%;
            background-color: #ececef;
          }
        }
      }

      .chartScore {
        font-size: 40px;
        line-height: 40px;
      }
    }

    h4 {
      font-size: 14px;
      font-weight: normal;
      margin: 16px 0;
    }
  }
}
