@import 'styles/vars';

.DatepickerInput {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-width: 0;

  &:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: calc(50% - 3px);
    width: 0;
    height: 0;
    margin: -3px 0 0;
    border-style: solid;
    border-width: 6px 6px 0px 6px;
    border-color: $primary transparent transparent transparent;
  }

  &._focus, &:focus {
    outline: none;
    color: $primary;

    &:after {
      border-width: 0px 6px 6px 6px;
      border-color: transparent transparent $primary transparent;
    }
  }
}