@import 'styles/_vars.scss';

.locationMenu {

  .title {
    position: absolute;
    color: $blackOpacity;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    font-size: 60;
    line-height: 0.85;

    @media print {
      display: block;
    }
  }

  &._medium {
    font-size: 45;
    line-height: 1;
  }

  &._long {
    font-size: 30;
    line-height: 1;
  }
}


