@import 'styles/vars';

.sidebarItem {
  @include menu-items;

  &.mobile {
    @include menu-items-mobile;
  }

  .menuItemTitle {
    @include menu-item-title;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: $primary;
    background-color: $white;
    border-radius: 30px;
  }
}
