.map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
 
  @media print {
    page-break-after: page;
    page-break-inside: avoid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 500px;
    left: -500px;
  }
}

.popup {
  width: fit-content;
}