$space-around-map: 30px;

.map {
  background: white;
}

.navigation {
  position: absolute;
  right: $space-around-map;
  top: $space-around-map;
}

.legend {
  position: absolute;
  right: $space-around-map;
  bottom: $space-around-map;
}
