@import 'styles/_vars.scss';

$space-around-map: 30px;
$space-top-map-mobile: 5px;
$space-left-map-mobile: 20px;

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.navigation {
  position: absolute;
  right: $space-around-map;
  top: $space-around-map;
}

.legend {
  position: absolute;
  right: $space-around-map;
  bottom: $space-around-map;
  z-index: 1;

  @media screen and (max-width: map-get($breakpoints, lg)) {
    top: $space-top-map-mobile;
    left: $space-left-map-mobile;
    bottom: auto;

    &.expanded {
      display: flex;
      flex-direction: row-reverse;
      bottom: inherit;
      right: 25px;
    }
  }

  .tooltip {
    display: flex;
    flex-direction: column;
  }

  @media print {
    display: none;
  }
}

// Mapbox override
:global(.mapboxgl-ctrl-group:not(:empty)) {
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin-bottom: 5px;
}

:global(.mapboxgl-ctrl-group > button) {
  background: white;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin: 10px;
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  right: 30px;

  > * {
    position: relative !important;
  }
}

.zoomControls {
  box-sizing: content-box;

  @media print {
    display: none;
  }
}

.fullscreen {
  > button[title='Toggle fullscreen'] {
    background-image: url('/map-controls-icons/fullscreen.svg') !important;
    top: 200px !important;
  }

  @media print {
    display: none;
  }
}

// Map pop up

:global(.mapboxgl-popup-content) {
  border-radius: 12px;
  max-width: fit-content;
  padding: 0;

  > button {
    padding: 10px;
  }
}

