@import 'styles/_vars.scss';

.widgets_menu,
.modalContent {
  margin: 0 10px;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    padding: 0;
    margin: 0;

    li {
      display: flex;
      cursor: pointer;
      margin: 5px;
      align-items: center;

      &._active {
        .icon {
          background-color: $primary;
          fill: $white;
          box-shadow: 0px 0px 0px 1px rgba(#000, 0.1), 0px 4px 12px rgba(#000, 0.08);
        }
      }

      &._disabled {
        opacity: 0.5;
      }
    }
  }

  .icon {
    width: 47px;
    height: 47px;
    border-radius: 30px;
    background-color: $white;
    fill: $primary;
  }
}

.widgets_menu  {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;

  .categoriesMenuBtn {
    @include menu-items;

    .menuItemTitle {
      @include menu-item-title;
    }

    .menuItemBtn {
      padding: 0;
    }

    &._disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  ul {
    align-items: center;
    border-radius: 30px;
  }

  &.mobile {
    flex-direction: row;
    margin: 0;
    padding: 0;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .icon {
      background-color: #00AFA7;
      fill: $white;
    }

    .menuItemTitle {
      @include menu-item-title;
    }
  }
}

.modalContent {
  position: absolute;

  .menuItemTitle {
    @include menu-item-title;
  }

  ul {
    align-items: flex-start;
    width: fit-content;
    border-radius: 30px;

    li {
      span {
        font-size: 19px;
        line-height: 30px;
        margin-left: 10px;
        color: $blackOpacity;
        text-align: start;
      }
    }
  }

  &.mobile {
    transform: translate(-50%, 50%);
    top: 0;
    left: 0;

    .menuItemTitle {
      display: none;
    }
  }
}
