.widget_legend {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  font-size: 14px;
  top: 0;
  
  .widget_legend_list {
    overflow-y: auto;
    margin: 10px;
    padding: 0;
    list-style: none;
    pointer-events: all;
    max-height: 100%;
  }

  .item_color {
    width: 6px;
    height: 12px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 9px;
  }

  .widget_legend_list_item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    
    &:not(:last-child) {
      padding-bottom: 16px;
    }

    &._disabled {
      opacity: 0.5;
    }
  }
}