.widget_legend {
  max-height: 220px;
  max-width: 220px;
  overflow: hidden;
  display: block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  line-height: 1;
  font-size: 14px;
}

.widget_legend._rect svg {
  width: 2px;
}

.widget_legend.vertical {
  max-width: 100%;
}

.widget_legend.vertical .widget_legend_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.widget_legend.vertical .widget_legend_list_item svg {
  margin-right: 10px;
  border-radius: 10px;
  width: 550px;
}

.widget_legend.vertical .widget_legend_list_item._rect svg {
  height: 12px;
  width: 6px;
}

.widget_legend.vertical .widget_legend_list_item._rect ::first-letter {
  text-transform: uppercase;
}

.widget_legend.vertical .widget_legend_list_item._circle svg {
  height: 12px;
  width: 12px;
}

.widget_legend.vertical .widget_legend_list_item._bar svg {
  border-radius: 0;
  height: 12px;
  width: 3px;
}

.widget_legend.vertical .widget_legend_list_item {
  margin: 0 10px 10px 0;
}

.widget_legend.vertical .widget_legend_list_item .itemWrapper {
  max-height: 10px;
}

.widget_legend.vertical .widget_legend_list_item .itemWrapper > span {
  padding-bottom: 5px;
}

.widget_legend .widget_legend_group {
  margin: 10px 0 0;
}

.widget_legend .widget_legend_title {
  font-weight: bold;
  max-width: 150px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.widget_legend .widget_legend_group:first-child {
  margin: 0;
}

.widget_legend .widget_legend_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.widget_legend .widget_legend_list._height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.widget_legend .widget_legend_list._left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.widget_legend .widget_legend_list._left > li {
  padding-left: 20px;
}

.widget_legend .widget_legend_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  list-style: none;
  position: relative;
}

.widget_legend .widget_legend_list-item._flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.widget_legend .widget_legend_list_item._flex-column > * {
  margin: 0;
}

.widget_legend .widget_legend_list_item svg {
  width: 13px;
  height: 13px;
  border-radius: 10px;
}

.widget_legend .itemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.widget_legend .itemWrapper._collapse {
  max-height: 20px;
}

.widget_legend .itemWrapper._collapse :after {
  content: '';
  height: 0;
}

.widget_legend .itemWrapper .itemColor {
  width: 5px;
  height: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.widget_legend .itemWrapper .item {
  font-weight: normal;
  font-size: 14px;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 2px;
  margin-left: 15px;
  overflow-y: auto;
  pointer-events: all;
  width: 100%;
  font-style: italic;
}

.list._large {
  padding-bottom: 10px;
}

.list._large:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 20px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(139, 167, 32, 0)), to(white));
  background: linear-gradient(180deg, rgba(139, 167, 32, 0) 0%, white 100%);
  pointer-events: all;
}

.list .speciesLink {
  pointer-events: all;
  cursor: pointer;
  padding: 2px 0;
  line-height: 20px;
}

.toggleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
  cursor: pointer;
}

.toggleList img {
  padding-left: 5px;
  height: 10px;
  width: 10px;
}
/*# sourceMappingURL=style.module.css.map */