name: Deploy analysis cloud functions to google
permissions:
  id-token: write
  contents: read
on:
  push:
    branches:
      - 'develop'
      - 'master'
    paths:
      - 'cloud-functions/analysis/**'
  workflow_dispatch:
jobs:
  run:
    name: Deploy analysis cloud function
    runs-on: ubuntu-20.04
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
    - uses: actions/checkout@v3
    - id: auth
      name: Authenticate in google cloud services
      uses: google-github-actions/auth@v0.8.0
      with:
        credentials_json: '${{ secrets.gcp_credentials }}'
    - id: build
      name: Build cloud function
      run: 'cd cloud-functions/analysis && node -v && npm -v && npm install && npm run compile'
      shell: bash
    - uses: "finnp/create-file-action@master"
      env:
        FILE_NAME: "cloud-functions/analysis/build/src/src/credentials.json"
        FILE_DATA: "${{ secrets.GEE_CREDENTIALS_JSON }}"
    - id: 'deploy'
      name: GC Functions deployment
      uses: 'google-github-actions/deploy-cloud-functions@v0.10.1'
      with:
        name: 'analysis'
        runtime: 'nodejs16'
        entry_point: 'analyze'
        memory_mb: '128'
        region: 'us-central1'
        source_dir: 'cloud-functions/analysis'
    # Example of using the output
    - id: 'test'
      name: GC Functions testing deployment
      run: 'curl "${{ steps.deploy.outputs.url }}"'
