@import 'styles/vars';

.dashboards {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 700px;

  @media print {
    max-width: 100%;
    padding: 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.printOnly {
  font-size: 19px;
  line-height: 29px;
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px 0;
}

@media print {
  .printOnly {
    display: block;
  }
}
